#interactive{
  overflow: auto !important;
}


.ox-custom-clear-trigger-textfield {
  width: 30px !important;
  background-position: 6px !important;
  background-repeat: no-repeat !important;
}


.oxOnlineSearchCriteriaContainer .x-mask.x-border-box {
    display: none;
}

.oxOnlineSearchCriteriaLineContainer {
    margin-bottom: 10px;
}

.oxSearchTextBoxEmpty {
    background-image: url(../icons/search.png) !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-position: 50% 50% !important;
}

.oxProgressBar .x-progress-default {
    background-color: #d6d6d6 !important;
}

.oxProgressBar .x-progress-bar {
    background-color: #5cd063 !important;
}

.oxProgressBar .x-progress-default .x-progress-text {
    display: none !important;
}

.x-btn {
	background-color: transparent;
	border-color: transparent;
}

.x-btn-wrap {
    display: table;
    height: 100%;
    width: 100%;
}

.x-btn-button {
    vertical-align: middle;
    display: table-cell !important;
}

.x-btn.x-btn-focus {
	background-color: transparent;
	border-color: transparent;
}

.barcodeScanButton .x-btn-wrap {
    display: block;
}

.oxMainMenuItem:hover {
	background-color: #3386c2;
}

.oxDescLabelBlue {
    color: #174393;
    font-weight: bold;
    font-size: 1.1em;
}

.oxHeaderLabelBlue {
    color: #174393;
    font-weight: bold;
    font-size: 1.3em;
}

.oxnavigationButtonInactive {
    background-color: #AAAAAA;
    color: #FFFFFF;
	border-color: #cecece !important;
	border-style: solid !important;
	border-width: 1px 1px 1px 1px !important;
}
.oxnavigationButtonInactive:hover {
	background-color: #3386c2;
}

.oxnavigationButtonActive {
    background-color: #174393;
    color: #FFFFFF;
    vertical-align: middle;
    display: table-cell;
	border-color: #cecece !important;
	border-style: solid !important;
	border-width: 1px 1px 1px 1px !important;
}
.oxnavigationButtonActive:hover {
	background-color: #3386c2;
}
.oxnavigationButtonFont{
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 25%;
	font-size: 1.3em !important;
	color: #FFFFFF !important;
	font-family:helvetica !important;
}

.oxBarcodeScanButton .x-btn-inner-default-small {
	padding: 0px;
}

.oxMainMenuPanel .x-menu-icon-separator {
	display: none !important;
}

.maskMainView{
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

/*.x-mask-msg{
    background: transparent;
}

.x-mask-msg-text {
    background-image: url(../../resources/loadMask.gif);
    background-position: center 0;
    padding: 85px 85px 0;
}


.x-mask-msg-inner {
    color: black;
    font-size: 14px;
}*/

.oxContextMenu .x-menu-icon-separator {
	display: none !important;
}

.oxAlternateOptionsMenu .x-menu-icon-separator {
	display: none !important;
}

.oxGridPanel .x-grid-header-ct {
	  border-color: #cecece !important;
	  border-style: solid !important;
	  border-width: 0px 0px 1px 0px !important;
}

.x-panel-body-default {
	border-width: 0px;
}

.x-window-body-default {
	border-width: 0px;
}

.oxFileSelectButton .oxFileUploadDiv:hover {
	border-style: solid;
	border-width: 0px;
	border-radius: 3px;
	padding: 3px 0px;
	background-color: #3386c2;
}

.x-menu-item.oxContextMenuItem {
	height: 35px;
}

.x-menu-item.oxContextMenuItem span.x-menu-item-text {
	height: 35px;
	line-height: 35px;
	margin: 0px 15px;
	font-weight: 700;
}

.x-panel.oxMainMenuPanel {
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #e1e1e1;
}

.oxMainMenuPanel .x-menu{
	border-width: 0px;
}

.x-btn.x-btn-focus.x-btn-default-small {
	box-shadow: rgba(255, 255, 255, 0) 0 1px 0px 0 inset,
	rgba(255, 255, 255, 0) 0 -1px 0px 0 inset,
	rgba(255, 255, 255, 0) -1px 0 0px 0 inset,
	rgba(255, 255, 255, 0) 1px 0 0px 0 inset;
}

.x-btn.x-btn-focus.x-btn-over.x-btn-default-small {
	background-color: #3386c2;
}

.x-grid-cell-inner {
	position: relative !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    padding: 5px 10px 5px 10px !important;
    min-height: 55px !important;
    text-align: left !important;
}

.x-grid-cell-inner p {
	overflow: hidden !important;
	text-overflow: ellipsis !important;
    margin-bottom: 0px !important;
}

.x-grid-group-hd {
    cursor: default !important;

}
.x-grid-group-title {
    /*background-image: none !important;*/
    font-weight: bold;
}

#ScenGridPanel .x-grid-cell-inner {
    padding: 15px 10px 15px 10px !important;
    min-height: 0p !important;
}

.x-grid-row .x-grid-item-focused .x-grid-cell-inner:before {
	border: 0px solid transparent !important;
}

.oxGridContentCombobox .x-field.x-form-item {
	height: 30px;
}

.oxGridContentCombobox .x-field.x-form-item .x-form-field.x-form-text {
	padding-left: 8px;
}

.oxDisabledTextField {
	opacity: 1.0;
}

.oxDisabledTextField .x-form-field.x-form-text {
	font-style: italic;
  	color: #808080;
}

.oxDisabledNumberField {
	opacity: 1.0;
}

.oxDisabledNumberField .x-form-field.x-form-text {
	font-style: italic;
  	color: #808080;
}

.oxDisabledComboBox {
	opacity: 1.0;
}

.oxDisabledComboBox .x-form-field.x-form-text {
	font-style: italic;
  	color: #808080;
}

.oxDisabledTextField .x-form-field.x-form-text {
	font-style: italic;
  	color: #808080;
}

.x-label.oxAddressLabel {
	font-size: 16px;
}

.x-webkit .x-form-text {
  height: calc(100% + 7px);
}

.x-form-text{
	display: inline;
}

.schrift {
	font-family:helvetica;
	font-size:20px;
	color: black !important;
}

.font {
	position:absolute;
	top:14px;
	left:52px;
	font-size: 16px !important;
	color: black !important;
	font-family:helvetica !important;
}

.schwarz {
	color:rgb(60,60,60);
	font-family:Helvetica;
	font-size: 1.3em;
}

.oxDialog {
	padding: 10px 10px 5px 10px;
	background: rgba(255,255,255,1);
	border: 1px solid black;
}

.x-btn.x-btn-disabled {
	background-color: transparent !important;
}

.x-container.oxDialogButtonBar {
	border-top: 1px solid #c6c7c6;
}

.oxLoginButton.x-btn {
	 border-width: 0px;
	 background-color: #E6E6E6; background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
	 background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
	 background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
	 background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
	 background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
	 background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}

.oxLoginButton.x-btn:hover {
	 background-color: #6bbed2; background-image: -webkit-gradient(linear, left top, left bottom, from(#6bbed2), to(#50abc4));
	 background-image: -webkit-linear-gradient(top, #6bbed2, #50abc4);
	 background-image: -moz-linear-gradient(top, #6bbed2, #50abc4);
	 background-image: -ms-linear-gradient(top, #6bbed2, #50abc4);
	 background-image: -o-linear-gradient(top, #6bbed2, #50abc4);
	 background-image: linear-gradient(to bottom, #6bbed2, #50abc4);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#6bbed2, endColorstr=#50abc4);
}

.oxLoginButton .x-btn-inner {
	font-family: helvetica;
	font-weight: semi-bold;
	color: black;
	font-size: 14px;
}

.oxDialogButton .x-btn-inner {
	font-weight: normal !important;
	color: black;
}

.calendar-fbar {
	background-color: #ff0000;
}

.x-btn.oxDialogButton.first {
	border-width: 0px;
}

.x-btn.oxDialogButton {
	padding: 10px;
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: #c6c7c6;
	border-radius: 0px;
}

.oxDialogTitle {
	margin: 10px 5px 5px 5px;
	font-size: 16px;
	font-weight: bold;
}

.oxDialogInputSection {
	margin-top: 10px;
	margin-bottom: 5px;
}

.oxDialogMessage {
	margin: 10px 5px 9px 5px;
	font-size: 14px;
}

.x-container.oxGrid {
	height: inherit;
	margin: 0px 5px 0px 5px;
	border: 1px solid #808080;
	background: rgba(255,255,255,1);
}

.x-container.oxGrid.ownSectionGrid {
	height: inherit;
	margin: 10px 10px 10px 10px;
	border: 1px solid #808080;
	background: rgba(255,255,255,1);
}

.x-component.oxGridLabel {
	height: 30px;
	padding: 10px 15px 10px 10px;
	font-size: 12px;
	border-width: 0px 0px 1px 0px;
	border-color: #808080;
	border-style: solid;
}

.x-component.oxGridContentLabel {
	height: 30px;
	padding: 7.5px;
	font-size: 12px;
	border-width: 0px 0px 1px 0px;
	border-color: #808080;
	border-style: solid;
}

.x-component.oxGridContentMultiLineLabel {
    min-height: 30px;
	padding: 7.5px;
	font-size: 12px;
	border-width: 0 0 1px 0;
	border-color: #808080;
	border-style: solid;
}

.oxGridContentCombobox {
	height: 30px;
	margin: 1em, 0em;
	font-size: 12px;
	border-width: 0px 0px 1px 0px;
	border-color: #808080;
	border-style: solid;
}

.x-btn.oxGridContentLink.x-btn-over {
	background-color: #3386c2;
}

.x-btn.oxGridContentLink {
	height: 30px;
	background-color: rgba(255,255,255,1);
	background-image: none;
	border-radius: 0px;
	border-width: 0px 0px 1px 0px;
	border-color: #808080 !important;
	border-style: solid;
}

.ordDetailNotifNrLinkCSS {
	margin-top: 4px;
}

.x-btn.oxGridContentLink .x-btn-inner {
	color: #000;
	text-align: left;
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
}

.x-btn.oxGridContentLink .x-btn-component {
	text-align: left;
	font-weight: normal;
}

.x-container.oxStaticLabelGridSubContainer {
	border-width: 0px 1px 0px 0px;
	border-color: #808080;
	border-style: solid;
}

x-grid-cell-checklistColumn {
    cursor: pointer !important;
}

.x-btn.oxGridChecklistContentLink.x-btn-over {
	background-color: #3386c2;
}

.x-btn.oxGridChecklistContentLink {
	height: 30px;
	background-color: rgba(255,255,255,1);
	background-image: none;
	border-radius: 0px;
	border-width: 0px 0px 0px 0px;
	border-color: #808080;
	border-style: solid;
}

.x-btn.oxGridChecklistContentLink .x-btn-inner {
	color: #000;
	text-align: left;
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	text-decoration: underline;
}

.x-btn.oxChecklistIcon
{
background-image: url(../../resources/icons/document_small.png)
}
.x-btn.oxChecklistIconOk
{
background-image: url(../../resources/icons/documentOk_small.png)
}

.x-btn.oxChecklistReport
{
background-image: url(../../resources/icons/report_small.png)
}

.x-container.oxGridContentContainer {
	padding: 7px 8px 7px 8px !important;
	background-color: rgba(255,255,255,1);
	background-image: none;
	border-radius: 0px;
	border-width: 0px 0px 1px 0px;
	border-color: #808080;
	border-style: solid;
}


.x-component.oxHeaderLabel {
	color: #000;
	font-size: 15px;
	font-weight: normal;
}

.x-panel.oxGridPanel {
	height: inherit;
	margin: 0px 5px 0px 5px;
	border: 1px solid #808080 !important;
	background: rgba(255,255,255,1);
}

.x-menu-item.oxMenuItemWithIcon {
}

.x-menu-item.oxMenuItemWithIcon .x-menu-item-text {
	margin-left: 55px;
	line-height: 50px;
	font-size: 13px;
}

.x-menu-item.oxMenuItemWithIcon .oxMenuItemIcon {
	height: 40px;
	width: 40px;
	background-size: contain;
}

.oxCheckBox .x-form-field.x-form-checkbox {
    content: "" !important;
    height: 30px !important;
    width: 30px !important;
    position: absolute !important;
    margin-top: 2px !important;
    background-image: url(../icons/check_empty.png) !important;
    background-position: 0px !important;
    background-size: contain !important;
    display: block !important;
    background-color: transparent !important;
}

.oxCheckBox.checked .x-form-field.x-form-checkbox {
    background-image: url(../icons/check_ok.png) !important;
}

.oxCheckBoxGridColumnItem .x-grid-cell-inner.x-grid-cell-inner-checkcolumn {
	height: 60px !important;
}

.x-grid-checkcolumn:after {
    content: none !important
}

.oxCheckBoxGridColumnItem .x-grid-checkcolumn {
    height: 30px !important;
    width: 30px !important;
    position: absolute !important;
    margin: 10px 0px 0px 10px !important;
    background-image: url(../icons/check_empty.png) !important;
    background-size: contain !important;
    display: block !important;
    background-repeat:no-repeat !important;
    background-color: transparent !important;
}
.oxCheckBoxGridColumnItem .x-grid-checkcolumn.x-grid-checkcolumn-disabled {
    background-image: url(../icons/check_empty_disabled.png) !important;
    background-position: 0px !important;
}
.oxCheckBoxGridColumnItem .x-grid-checkcolumn.x-grid-checkcolumn-checked {
    background-image: url(../icons/check_ok.png) !important;
    background-position: 0px !important;
}

.oxCheckBoxGridColumnItem .x-grid-checkcolumn.x-grid-checkcolumn-checked.x-grid-checkcolumn-disabled {
    background-image: url(../icons/check_ok_disabled.png) !important;
    background-position: 0px !important;
}
.oxCheckBoxNokColumnItem .x-grid-cell-inner.x-grid-cell-inner-checkcolumn {
	height: 60px !important;
}

.oxCheckBoxNokColumnItem .x-grid-checkcolumn{
    height: 30px !important;
    width: 30px !important;
    position: absolute !important;
    margin: 10px 0px 0px 10px !important;
    background-image: url(../icons/check_empty.png) !important;
    background-size: contain !important;
    display: block !important;
    background-repeat:no-repeat !important;
    background-color: transparent !important;
}
.oxCheckBoxNokColumnItem .x-grid-checkcolumn.x-grid-checkcolumn-disabled {
    background-image: url(../icons/check_empty_disabled.png) !important;
    background-position: 0px !important;
}
.oxCheckBoxNokColumnItem .x-grid-checkcolumn.x-grid-checkcolumn-checked {
    background-image: url(../icons/check_nok.png) !important;
    background-position: 0px !important;
}

.oxCheckBoxNokColumnItem .x-grid-checkcolumn.x-grid-checkcolumn-checked.x-grid-checkcolumn-disabled {
    background-image: url(../icons/check_nok_disabled.png) !important;
    background-position: 0px !important;
}
.oxCheckBoxNotRelColumnItem .x-grid-cell-inner.x-grid-cell-inner-checkcolumn {
	height: 60px !important;
}

.oxCheckBoxNotRelColumnItem .x-grid-checkcolumn{
    height: 30px !important;
    width: 30px !important;
    position: absolute !important;
    margin: 10px 0px 0px 10px !important;
    background-image: url(../icons/check_empty.png) !important;
    background-size: contain !important;
    display: block !important;
    background-repeat:no-repeat !important;
    background-color: transparent !important;
}
.oxCheckBoxNotRelColumnItem .x-grid-checkcolumn.x-grid-checkcolumn-disabled {
    background-image: url(../icons/check_empty_disabled.png) !important;
    background-position: 0px !important;
}
.oxCheckBoxNotRelColumnItem .x-grid-checkcolumn.x-grid-checkcolumn-checked {
    background-image: url(../icons/check_null.png) !important;
    background-position: 0px !important;
}
.oxCheckBoxNotRelColumnItem .x-grid-checkcolumn.x-grid-checkcolumn-checked.x-grid-checkcolumn-disabled {
    background-image: url(../icons/check_null_disabled.png) !important;
    background-position: 0px !important;
}
.oxMeanvalueDisabled .x-mask.x-border-box {
    background-color: transparent;
}
.oxMeanvalueDisabled .x-component.x-column.x-component-default {
    color: #808080;
}

.oxMainTitleLabel {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-size: 18px;
	font-family:helvetica !important;
}

.x-grid-cell-inner.x-grid-cell-inner-action-col {
	text-align: center !important;
  	position: relative !important;
  	min-height: 55px !important;
}

.x-grid-cell-inner.x-grid-cell-inner-action-col > .x-action-col-icon.oxGridLineActionButton {
  	height: 40px !important;
	width: 40px !important;
	margin: 0 !important;
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	margin-right: -50% !important;
	transform: translate(-50%, -50%) !important;
	-webkit-transform: translate(-50%, -50%) !important;
}

.x-grid-cell-inner.x-grid-cell-inner-action-col > img {
  	height: 40px !important;
	width: 40px !important;
	margin: 0 !important;
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	margin-right: -50% !important;
	transform: translate(-50%, -50%) !important;
	-webkit-transform: translate(-50%, -50%) !important;
}

.x-grid-cell-inner.x-grid-cell-inner-action-col > .x-action-col-icon {
  	width: 0px !important;
	height: 0px !important;
}

.ox-textbox-align-right input {
    text-align : right !important;
}

.ox-separator-label {
	font: bold 18px Aria !important;
	padding: 0px 5px !important;
}

.x-window-header-default {
  font-size: 11px;
  border-color: #a2b1c5;
  background-color: #ced9e7; }

.x-window-header-default .x-tool-img {
    background-color: #ced9e7;
 }

.x-window-header-title-default {
  color: #04468c;
  background-color: #ced9e7;
  font-size: 11px;
  font-weight: bold;
  font-family: tahoma, arial, verdana, sans-serif;
  line-height: 15px;
}


.x-window-header-title-red {
  color: #ff0000;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: bold;
  font-family: tahoma, arial, verdana, sans-serif;
  line-height: 15px;
}

.x-field.orderReportTextInput > .x-form-item-label > .x-form-item-label-inner {
	font-size: 15px;
  	font-family: helvetica;
  	color: black;
  	font-weight: bold;
}

.x-field.orderReportTextInput .x-form-text.x-form-field {
	font-size: 14px;
  	font-family: helvetica;
  	color: black;
}

.x-component.orderReportSignatureLabel {
  	font-family: helvetica;
  	color: black;
  	font-size: 16px;
  	font-weight: bold;
}

/*******************************************
 *
 * Ext Calendar styles
 *
 ******************************************/
/*-----------------------------------------
*	Event Colors
* -----------------------------------------
*/
.ext-color-cal-evt-blue {
	background: #b0c8e1;
}
.ext-color-cal-evt-red {
	background: #ff0000;
}
.ext-color-cal-evt-green {
	background: #92c253;
}
.ext-color-cal-evt-yellow {
	background: #fceba0;
}
/* -----------------------------------------
 * Shared calendar view containers
 */
.x-panel-tbar .ext-cal-toolbar {
    padding: 3px;
    border-bottom-width: 0 !important;
}
.x-panel-tbar .ext-cal-toolbar .x-btn button {
    font-weight: bold;
    color: #555;
}
.x-panel-tbar .ext-cal-toolbar .x-toolbar-cell {
    padding: 0 3px !important;
}

.ext-cal-ct {
    position: relative;
    font-family: helvetica, arial, sans-serif;
    border-bottom:1px solid #ddd;
    border-right:1px solid #ddd;
}
.ext-cal-ct img {
    border:0 none;
}
.ext-cal-inner-ct {
	height: 100%;
    line-height: 14px;
    position: relative;
    background: #fff;
    white-space: nowrap;
}
.ext-cal-ct td,
.ext-cal-mdv td {
    font-size: 11px;
}
.x-cal-body {
    /* override the default -noheader style ext uses when there is no panel header */
    border-top: 0 !important;
}

/* Window specific rules */
.x-window .x-window-mc .x-cal-body {
    border: 0 !important;
}
.x-window .ext-cal-toolbar {
    border: 0 !important;
}

/* Background layout table for week rows */
.ext-cal-bg-tbl {
    height:100%;
    left:0;
    position:absolute;
    table-layout:fixed;
    top:0;
    width:100%;
}

.x-datepicker {
	background: #ffffff;
    color: #555;
}
.x-datepicker .x-btn{
	background-color: #EFEFEF;
    color: #555;
    border-color: #e3e9ff #e3e9ff #e3e9ff #e3e9ff;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}
.x-datepicker .x-btn .x-btn-inner {
    color: #555;
}

#app-nav-picker {
	background-color: #ffffff;
}

#app-nav-picker-innerEl {
	background-color: #ffffff;
}
.x-datepicker-footer {
	background-color: #ffffff;
}


/* Month names subheader */
.ext-cal-hd-days-tbl {
    background: #EFEFEF;
    color: #555;
    table-layout: fixed;
    top: 18px;
    width: 100%;
    font-size: 12px;
    line-height: 12px;
}

.ext-cal-month-hd .ext-cal-hd-days-tbl {
    border-top: 1px solid #99BBE8;
}
.x-calendar-nonav .ext-cal-month-hd .ext-cal-hd-days-tbl {
    border-top: 0;
}
.ext-cal-month-hd .ext-cal-hd-day {
    border-left: 1px solid #DDD;
}

.ext-cal-hd-ct {
    border-bottom: 1px solid #bcf;
}
.ext-cal-hd-day {
    text-align: left;
    padding: 4px ;
    white-space: nowrap;
}

.ext-cal-hd-day-small {
    text-align: left;
    padding: 4px;
    white-space: nowrap;
}

/* -----------------------------------------
 * Day/week-specific styles
 */
.ext-cal-dayview .ext-cal-hd-days-tbl {
    table-layout: fixed;
    width: 100%;
    background-color: #D3E1F1;
    overflow: hidden;
    font-size: 11px;
    line-height: 14px;
    height: 100%;
}
.ext-cal-hd-days-td {
	vertical-align: top;
    padding-bottom: 2px;
}
.ext-cal-dayview .ext-cal-hd-ct {
    height: 100%;
}
.ext-cal-dayview .ext-cal-gutter {
    width: 50px;
}
.ext-cal-dayview .ext-cal-gutter-rt {
    width: 15px;
}
.x-win .ext-cal-dayview .ext-cal-gutter-rt {
    width: 16px;
}
/* OSX Lion scrollbars do not take up space in the body so they need special rules */
.x-no-scrollbar .ext-cal-hd-days-td {
    width: 100%;
}
.x-no-scrollbar .ext-cal-dayview .ext-cal-gutter-rt,
.x-no-scrollbar .x-win .ext-cal-dayview .ext-cal-gutter-rt {
    width: 0;
}

.ext-cal-hd-ad {
    background-color: #fff;
    font-size: 11px;
    line-height: 14px;
    border-color: #e3e9ff #e3e9ff #e3e9ff #e3e9ff;
    border-style: solid;
    border-width: 0 1px 1px 0;
}
.ext-cal-hd-ad-inner {
	top: 0px;
	position: relative;
    height: 100%;
}
.x-calendar-nonav .ext-cal-hd-ad-inner {
	position: relative;
    margin-top: 3px;
}
.x-calendar-nonav .ext-cal-hd-ct {
    border-top: 1px solid #99BBE8;
}
.ext-cal-dayview .ext-cal-dtitle {
    padding: 8px 1px 2px;
}
.ext-cal-hd-ad-bg-tbl {
    position: absolute;
    left: 0;
    table-layout: fixed;
    width: 100%;
}
.ext-cal-hd-ad .st-c {
    padding: 1px 1px 0 1px
}
.ext-cal-dayview .ext-cal-body-ct {
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0;
    line-height: normal;
}
.ext-cal-dayview .ext-cal-body-ct .ext-cal-bg-tbl {

}
.ext-cal-dayview .ext-cal-bg-tbl {
    background-color: #fff;
    margin-top: -1px;
    border-bottom: 1px solid #bcf;
    border-right: 1px solid #bcf;
}
.ext-cal-dayview .ext-cal-bg-rows {
    position: relative;
    margin-left: 1px;
    top: 1px;
}
.ext-cal-dayview .ext-cal-bg-rows-inner {
    position: absolute;
    width: 100%;
}
.x-ie .ext-cal-dayview .ext-cal-bg-rows-inner,
.x-gecko .ext-cal-dayview .ext-cal-bg-rows-inner {
    top: -1; /* row line alignment fix */
}
.ext-cal-dayview .ext-cal-bg-row {
    height: 42px;
}
.ext-cal-dayview .ext-cal-bg-row-div {
    border-bottom: 1px dotted #ddd;
    border-top: 1px solid #ddd;
    font-size: 1px;
    height: 21px;
    margin-bottom: 20px;
}
.ext-cal-dayview .ext-row-1 {
    border-top: 0;
}
.ext-cal-day-times {
    background-color: #f6f9fc;
    color: #666;
    padding: 1px 0 0 0;
    text-align: right;
    vertical-align: top;
}
.ext-cal-day-time-inner {
    height: 42px;
    border-bottom: 1px solid #ddd;
    padding: 3px 4px 0 0;
}
.ext-cal-day-col {
    border-left: 1px solid #ddd;
    vertical-align: top
}
.ext-cal-day-col-inner {
    position: relative;
    cursor: default;
}
.ext-cal-day-col-gutter {
    position: relative;
    margin-right: 15px;
    height: 1008px;
}
.x-ie .ext-cal-day-col-gutter,
.x-opera .ext-cal-day-col-gutter {
    margin-right: 10px;
}
.x-ie6 .ext-cal-day-col-gutter {
    zoom: 1
}

/* -----------------------------------------
 * Month-specific styles
 */
.ext-cal-monthview .ext-cal-hd-ct {
    left: 0;
    top: 0;
    table-layout: fixed;
    width: 100%;
    height: 100%;
}
.ext-cal-monthview .ext-cal-body-ct {
    background: #fff;
    bottom: 0;
    left: 0;
    border:0;
    overflow: hidden;
    top: 20px;
    width: 100%;
    height: 100%;
}

.ext-cal-monthview .ext-cal-noheader .ext-cal-hd-ct {
    display: none;
}
.ext-cal-monthview .ext-cal-noheader .ext-cal-body-ct {
    top: 0;
}

/* Month view week link boxes */
.ext-cal-monthview .ext-cal-week-link,
.ext-cal-monthview .ext-cal-week-link-hd {
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #EFEFEF;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    font-size: 10px;
    color: #999;
    padding: 3px 0 0;
    text-align: center;
    cursor: pointer;
}
.ext-cal-monthview .ext-cal-week-link-hd {
    border-top: 1px solid #99BBE8;
}
.x-calendar-nonav .ext-cal-monthview .ext-cal-week-link-hd {
    border-top: 0;
}
.ext-cal-week-links .ext-cal-bg-tbl {
    left: 20px;
}
.ext-cal-week-links .ext-cal-evt-tbl,
.ext-cal-week-links .ext-cal-hd-days-tbl {
    margin-left: 20px;
}
.ext-cal-monthview .ext-week-link-over {
    background: #E0E7EF;
}


/* Hide the nav bar if specified */
.ext-cal-hide-navbar .ext-cal-hd-ct {
    height: 25px;
}
.ext-cal-hide-navbar .ext-cal-body-ct {
    top: 24px;
}

/* Outer wrapping div for week rows */
.ext-cal-wk-ct {
    left: 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 150px;
}
.ext-cal-monthview .ext-cal-wk-ct {
    height: 100%;
}
/* Background table cell */
.ext-cal-day {
    border-left: 1px solid #ddd !important;
    cursor: pointer !important;
}
.ext-cal-day-first {
    /*border-left: 1px solid #BBCCFF;*/
   border-left: 0 !important;
}

.ext-cal-ev,
.ext-cal-dtitle {
    cursor: pointer;
}
.ext-day-over {
    background: #D1EAEF !important;
}
/* Event container table */
.ext-cal-evt-tbl {
    position:relative;
    table-layout:fixed;
    width:100%;
}

/* Event title cell (includes today, prev & next month) */
td.ext-cal-dtitle {
    font-family: helvetica, arial, sans-serif !important;
    border-top:1px solid #ddd !important;
    color: #666 !important;
    line-height:14px !important;
    overflow:hidden !important;
    text-align:right !important;
    font-size: 11px !important;
    padding-top: 1px !important;
    padding-right: 1px !important;
    padding-left: 1px !important;
}
td.ext-cal-dtitle-first {
    border-top: 1px solid #DDD !important;
}
td.ext-cal-dtitle div {
    padding: 20px 4px 1px !important;
}
/* Today's title cell */
td.ext-cal-dtitle-today div {
    color: #BFA52F !important;
    white-space: nowrap !important;
}
/* Today time span */
.ext-cal-dtitle-time {
    font-size: 11px;
}
/* Today's background cell */
.ext-cal-day-today {
    background: #FFF4BF !important;
}
/* Prev/next month title cells */
.ext-cal-dtitle-prev div,
.ext-cal-dtitle-next div {
    color: #bbb !important;
}
/* Prev/next month background cells */
.ext-cal-day-prev,
.ext-cal-day-next {
    background: #EFEFEF !important;
    opacity: 0.6 !important;
}
/* Event cells */
.ext-cal-ev {
    font-family:Verdana,sans-serif !important;
    padding: 0 1px 0 2px !important;
    vertical-align:top !important;
}
/* Event overflow more link */
.ext-cal-ev-more {
	text-align: center;
}
.ext-cal-ev-more a,
.ext-cal-ev-more a:visited {
    font-family: verdana;
    color: #777;
    font-size: 10px;
    cursor: pointer;
}
/* More view */
.ext-cal-mvd-tbl {
    width: 100%;
    table-layout: fixed;
    border-spacing: 1;
    border-collapse: separate;
}

.ext-cal-evt {
    cursor:pointer;
}

/* Default rounded event div (Gecko/Webkit/W3C) */
.ext-cal-evr { /* rounded */
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    overflow:hidden;
    padding: 2px 1px 2px 5px;
    white-space:nowrap;
	text-overflow: ellipsis;
    border: 0;
}
.ext-cal-day-col .ext-cal-evr {
    border-width: 1px;
    border-style: solid;
}
/* Nested event divs (IE/Opera) */
.ext-cal-evo { /* outer */
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 0;
    border-left: 0;
    margin: 0 1px;
    cursor: pointer;
    position: relative;
}
.ext-cal-day-col .ext-cal-evo  {
    height: 100%;
}
.ext-cal-evm { /* middle */
    border-left: 1px solid;
    border-right: 1px solid;
    border-top: 0;
    border-bottom: 0;
    margin: 0 -1px;
    zoom: 1;
    padding-left: 3px;
}
.ext-cal-evi { /* inner */
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* Day view event styles */
.ext-cal-day-col .ext-cal-evt {
    position: absolute;
    overflow: hidden;
    cursor: default;
    color: #000;
    -moz-user-select: none;
}
.ext-cal-evt dl {
    margin: 0;
    border: 0 1px;
    overflow: hidden;
    border-width: 0 1px;
    border-style: solid;
}
.x-ie6 .ext-cal-evt dl {
    zoom: 1
}
.ext-cal-evt dd {
    margin: 0;
    overflow: hidden;
    font-size: 11px;
    text-align: left;
    word-wrap: break-word;
}
.ext-cal-evdm {
    border: 1px solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px
}
.ext-cal-evdm dt {
    margin-top: 0
}
.ext-cal-day-col .ext-cal-evt a:link,
.ext-cal-day-col .ext-cal-evt a:visited,
.ext-cal-day-col .ext-cal-evt a:active {
    text-decoration: none;
    color: #000
}

.ext-cal-evb {
    height: 1px;
    overflow: hidden;
    margin: 0 1px;
    border-top-width: 1px;
    border-top-style: solid;
}
.x-opera .ext-cal-evb,
.x-strict .x-ie .ext-cal-evb {
    height: 0;
}

/* Event spanning -- overrides rounded corners */
.ext-cal-ev-spanboth,
.ext-cal-ev-spanleft,
.ext-cal-ev-spanright {
    -moz-border-radius:0;
    -webkit-border-radius:0;
    border-radius:0;
	position: relative;
}
.ext-cal-ev-spanleft {
    -moz-border-radius-topright:5px;
    -moz-border-radius-bottomright:5px;
    -webkit-border-top-right-radius:5px;
    -webkit-border-bottom-right-radius:5px;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    xpadding-left:5px;
}
.ext-cal-ev-spanright {
    -moz-border-radius-topleft:5px;
    -moz-border-radius-bottomleft:5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    xpadding-right:5px;
}
/* IE/ Opera: */
.ext-cal-ev-spanboth .ext-cal-evm {
	margin: 0;
}
.ext-cal-ev-spanright .ext-cal-evm {
	margin: 0 0 0 -1px;
}
.ext-cal-ev-spanleft .ext-cal-evm {
	margin: 0 -1px 0 0;
}

.ext-cal-spl,
.ext-cal-spr {
/*    background-image:url(../images/default/calendar-sprites.gif);
    background-repeat:no-repeat;
    display: inline-block;
    height: 15px;
    line-height: 15px;
    width: 2px;
	position: absolute;
	top: 0;*/
}
.ext-cal-spl {
    background-position:-1px -11px;
    left: 0;
}
.ext-cal-spr {
    background-position:0 -11px;
    right: -2px;
}
.x-ie .ext-cal-spr {
    right: -5px;
}

/* Generic calendar icons */
.ext-cal-ic {
/*    background-image:url(../images/default/calendar-sprites.gif);*/
    background-repeat:no-repeat;
    display:inline-block;
    height:11px;
    line-height:11px;
    margin-left:4px;
    width:14px;
}
.ext-cal-ic-rcr {
    background-position:0 0;
}
.ext-cal-ic-rem {
    background-position:-14px 0;
}

/* Calendar DD styles */
.ext-cal-dd-sel-ct {
    display: block;
    z-index: 10;
    position: absolute;
    height: 0;
    left: 0;
    top: 0;
    width: 0;
}
.ext-cal-dd-sel {
    background-color: #C3D9FF;
    font-size: 0;
    line-height: 0;
    opacity: 0.5;
    position: absolute;
}

/* Webkit/Gecko: */
.ext-evt-over,
/* IE/Opera: */
.ext-evt-over .ext-cal-evm {
    opacity: .8;
    filter: alpha(opacity=80);
}

/* Calendar Picker */
.ext-calendar-picker.x-form-text-wrap {
    position: relative;
}

.ext-calendar-picker .x-form-text {
    padding-left: 23px;
}
.ext-calendar-picker .x-combo-list-item {
    padding-left: 24px;
}
.ext-cal-picker-icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    float: left;
    position: relative;
}
/* This is the selected icon that always shows: */
.ext-cal-picker-mainicon {
    float: none;
    position: absolute;
    top: 3px;
    left: 4px;
}

/*
 * Event resize handle
 */
.ext-evt-rsz {
    position: absolute;
    bottom: 0;
    height: 5px;
    line-height: 5px;
    width: 100%;
    margin-left: -5px;
    text-align: center; /* needed for IE quirks mode */
    cursor: s-resize;
}
.x-gecko .ext-evt-rsz,
.x-webkit .ext-evt-rsz {
    cursor: ns-resize;
}
.ext-evt-rsz-h {
    display: none;
    border-top:3px double;
    border-color: white;
    font-size:0;
    height:0;
    line-height:0;
    margin-left:auto;
    margin-right:auto;
    width:20px;
    opacity:.5;
    -moz-opacity:.5;
    -khtml-opacity:.5;
    /* no opacity for ie by default */
}
.ext-evt-over .ext-evt-rsz-h {
    display: block;
}
.x-ie .ext-evt-rsz-h {
    border-color: #ccc;
}
.x-strict .x-ie8 .ext-evt-rsz-h {
    border-color: #fff;
    filter:alpha(opacity=50);
}

/*
 * Calendar event colors
 */
.ext-cal-evr,
.ext-cal-evi,
.ext-cal-evt dl {
	color: #000;
    border-color: #999999;
}
.ext-color-3,
.x-ie7m .ext-color-3-ad,
.x-opera .ext-operaLT11.ext-color-3-ad {
    color: #92c252;
    border-color: #999999;
}
.ext-cal-day-col .ext-color-3,
.ext-dd-drag-proxy .ext-color-3,
.ext-color-3-ad,
.ext-color-3-ad .ext-cal-evm,
.ext-color-3 .ext-cal-picker-icon,
.ext-color-3-x dl,
.ext-color-3-x .ext-cal-evb {
    background: #92c252;
    border-color: #999;
}
.ext-color-3-x .ext-cal-evb,
.ext-color-3-ad .ext-cal-evm,
.ext-color-3-ad,
.ext-color-3-x dl {
    border-color: #999;
}

.ext-cal-day-col .ext-cal-evt {
    position: absolute;
}
.ext-cal-day-col .ext-cal-evr,
.ext-cal-day-col .ext-cal-evi {
    white-space: normal;
}

/* Shim for drag/drop operations on calendar views */
.ext-dd-shim {
    z-index:1000;
    overflow:hidden;
    position:absolute;
    left:0;top:0;
    opacity:.40;
    -moz-opacity:.40;
	-khtml-opacity:.40;
    filter:alpha(opacity=40);
	background: #C3D9FF;
}

.ext-cal-event-win a:link,
.ext-cal-event-win a:visited {
    color: #15428B;
}

/* StatusProxy override styles */
.ext-dd-ghost-ct {
	color:#000;
	font: normal 11px arial, helvetica, sans-serif;
	border: 1px solid;
    border-color: #ddd #bbb #bbb #ddd;
	background-color:#fff;
	padding:3px;
	padding-left:20px;
	white-space: nowrap;
}
.ext-dd-ghost-ct .x-dd-drag-ghost{
	border: 0;
	background: none;
	padding: 0;
	width: 150px;
}
.ext-dd-ghost-ct .ext-evt-rsz {
    display: none;
}

/*******************************************
 *
 * Calendar form styles
 *
 ******************************************/
.x-gecko .ext-cal-event-win .x-window-body .x-form-item {
    overflow: hidden;
}
.ext-evt-edit-form .x-form-item {
    margin-bottom: 8px;
}
.ext-evt-edit-form .x-panel-bbar .x-toolbar {
    border-bottom: 1px solid #99BBE8;
}
.ext-evt-edit-form .x-panel-header {
/*    background: transparent url(../images/default/ext-cal-edit-hd.png) repeat-x;*/
    padding: 9px 0 4px !important;
    font-size: 13px !important;
    font-family: helvetica, arial, sans-serif;
    border-top: 0;
    border-bottom: 1px solid #BBCCFF;
}
.ext-evt-edit-form .x-panel-fbar {
    padding: 5px 10px;
    background: #DFE8F6;
    border: 1px solid #BBCCFF;
}

/*******************************************
 *
 * DateRangeField styles
 *
 ******************************************/
.ext-dt-range label {
    font-size: 12px;
}
.ext-dt-range .x-form-check-wrap {
    white-space: nowrap;
}
.ext-dt-range .x-table-layout-cell {
    padding-right: 5px !important;
}

.x-toolbar.oxToolbar {
	padding: 0px;
}

.oxToolbar {
	background: #CAC5C5;
}

.oxPage .pageStandardBody {
	background: #E4DDDD;
}

/*******************************************
 *
 * Loading Indicator
 *
 ******************************************/
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  width: 60px;
  height: 60px;
  z-index: 99999;
}

.loadingIndicator > .container1 > div, .loadingIndicator > .container2 > div, .loadingIndicator > .container3 > div {
	background-color: #91cf4f;
}

.container1 > div, .container2 > div, .container3 > div {
  width: 12px;
  height: 12px;
  background-color: #FFF;

  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

.circle1 { top: 0; left: 0; }
.circle2 { top: 0; right: 0; }
.circle3 { right: 0; bottom: 0; }
.circle4 { left: 0; bottom: 0; }

.container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.container3 .circle1 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/*******************************************
 *
 * Loading Indicator For OxGridPanel
 *
 ******************************************/

.loadingIndicatorForList > .container1 > div, .loadingIndicatorForList > .container2 > div, .loadingIndicatorForList > .container3 > div {
	background-color: #91cf4f;
}

.loadingMessageForListWithIndicator {
  font-family: helvetica;
  font-size: medium;
  font-weight: 500;
  color: black;

  position: absolute;
  margin-top: 60px;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.loadingMessageForListWithoutIndicator, .x-grid-empty {
  font-family: helvetica;
  font-size: medium;
  font-weight: 500;
  color: black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}

.resizeButtonHomeScreen {
	width: 5vw;
	height: 5vw;
	min-width: 65px;
	min-height: 65px;
}

@media all and (max-width: 800px) {
    .schwarz{
        font-size: 13.25px;
    }
}


.icon-treestore-equi {
    width:40px;
	height:40px;
	background-image: url(../icons/equi.png);
	background-size: contain !important;

}
.icon-treestore-tp {
    width:40px;
	height:40px;
	background-image: url(../icons/funcloc.png);
	background-size: contain !important;

}
.icon-treestore-mat {
    width:40px;
	height:40px;
	background-image: url(../icons/matconf.png);
	background-size: contain !important;

}

.x-grid-tree-node-expanded .icon-treestore-equi {
    width:40px;
	height:40px;
	background-image: url(../icons/equi.png);
	background-size: contain !important;

}
.x-grid-tree-node-expanded .icon-treestore-tp {
    width:40px;
	height:40px;
	background-image: url(../icons/funcloc.png);
	background-size: contain !important;

}
.x-grid-tree-node-expanded .icon-treestore-mat {
    width:40px;
	height:40px;
	background-image: url(../icons/matconf.png);
	background-size: contain !important;

}

.x-tree-node-text {
	font-family:helvetica;
	font-size:14px;
}

.x-tree-elbow-img.x-tree-elbow-end {
  background-image: none !important;
}

.x-tree-icon, .x-tree-elbow-img, .x-tree-checkbox{
	display: inline-block !important;
}

.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus {
	background-image: url(../icons/1_navigation_expand.png) !important;
	background-size: contain !important;
	margin-top: 2px;
}

.x-grid-cell-inner .x-grid-cell-inner-treecolumn{
	display: inline-block !important;
}

.x-tree-lines .x-tree-elbow-end-plus {
	background-image: url(../icons/1_navigation_collapse.png) !important;
	background-size: contain !important;
	margin-top: 2px;
}

.x-tree-lines .x-tree-elbow-plus{
	background-image: url(../icons/1_navigation_collapse.png) !important;
	background-size: contain !important;
	margin-top: 2px;
}

.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-plus {
	background-image: url(../icons/1_navigation_expand.png) !important;
	background-size: contain !important;
	margin-top: 2px;
}

.treestore-blue-row{
	background-color: #3386c2;
	height: 45px;
	vertical-align: middle;
}

.treestore-row{
	height: 45px;
	vertical-align: middle;
}

img.x-tree-elbow-img.x-tree-elbow-line{
	 background-image: none !important;
}

img.x-tree-elbow-img.x-tree-elbow{
	 background-image: none !important;
}

.x-tree-lines .x-tree-elbow{
	 background-image: none !important;
}

.x-tree-lines .x-tree-elbow-line{
	 background-image: none !important;
}

span.x-tree-node-text {
	display: inline-block;
	vertical-align: middle;
	margin-top: 7px;
}

tr.x-grid-tree-node-expanded.x-grid-row {
	height: 45px;
}
.x-tree-lines{
	height: 45px;
}

.operation-img {
	height: 30px;
    width: 30px;
    position: absolute;
    margin: 10px 0px 0px 10px;
    background-size: contain;
    display: block;
    background-repeat:no-repeat;
    background-color: transparent !important;
    background-image: url(../icons/operation.png);
}

.oxGridColumnItem .x-grid-cell-inner.x-grid-cell-inner-actioncolumn {
	height: 60px !important;
}

.oxTreePanelAndroid {
    overflow: hidden !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.signatureDialogAddButton {
    width: 20px !important;
    height: 20px !important;
    margin: 5px 0px 5px 0px;
    background-image: url(../icons/signatureDialogAddButton.jpg);
}


.clearSignatureDialogButton{
    padding: 10px !important;
    border-width: 0px 1px 1px 1px !important;
    border-style: solid !important;
    border-color: black !important;
    border-radius: 0px !important;
}

.clearSignatureDialogButton > span > span > span:nth-child(2){
    color: black !important;
}

.doneSignatureDialogButton{
    padding: 10px !important;
    border-width: 1px 1px 1px 1px !important;
    border-style: solid !important;
    border-color: black !important;
    border-radius: 0px !important;
}

.doneSignatureDialogButton > span > span > span:nth-child(2){
    color: black !important;
}

.custShowDrobDown .x-grid-cell-inner {
    overflow: visible !important;
}

.reportsPreviewIOSLabel {
	font-size: 16px;
}

.reportsPreviewPageIOSMainContainer {
	width: 210px !important;
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 60px !important;
}

.tabReportsContent > div >div:nth-child(2) > div{
	left: 0px !important;
}

/*  iOS safari hack
    http://stackoverflow.com/questions/16348489/is-there-a-css-hack-for-safari-only-not-chrome#25975282
    Textareas in safari have own padding which is alway added to custom css
*/
_::-webkit-:not(:root:root), .x-form-textarea {
    padding: 3px !important;
}

.OxSearchTextFieldStyle > label > span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;

}

#mainVboxContainer {
	overflow: auto !important;
}

#ScenGridPanel .x-grid-cell-inner {
    text-align: center !important;
}

.x-window-default {
  border-color: transparent !important;
  background-color: transparent !important;
}

.oxandoToast {
  text-align: center;
}

.fg-red {
  color: red;
}
.oxCheckBoxGridColumnItem.deleteButton .x-grid-checkcolumn{
    background-image: url(../icons/check_nok.png) !important;
    background-color: white !important;
}